* {
    padding: 0;
    margin: 0;

}

html, body {
    height: 100%;
}

body {
    background-color:  rgb(51, 51, 51);
    
}

div.lang {
    float: right;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    width: 11em;
    background-color:darkslategray;
    color: white;
    font-weight: bold;
    /* padding: 0 1em 0 1em; */
    border-radius: 1em;
    margin-right: 2em;
    
}

.high {
    background-color: rgba(253, 255, 151, .5);
    color: black;   
    border-radius: 1em;
}

 a.headButt:visited {
    color: white;
}

a.headButt {
    color: white;
}

.high a {
    color: black;   
}

div.add {
    margin-top: 1em;
    font-weight: bold;
    float:right;
    background-color: darkslategray;
    color: white;
    padding: 0.75em 1.25em ;
    margin-right: 2em;
    border-radius: 1em;
}

a.headButt {
    text-decoration: none   ;
}

 div.lang a.headButt:hover {
    background-color: rgba(253, 255, 151, .3);
    border-radius: 1em;
}





div.lang .lanOpt {
    white-space: nowrap;
    padding: 0.75em 1.25em ;

}

header {
    height: 7em;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 84%, rgba(51,51,51,1) 100%); 
}

footer {
    height: 5em;

    position: fixed;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 84%, rgba(51,51,51,1) 100%); 
    /* background-color: black; */
}

header div h1 {
    padding: .5em;
    font-size: 2.5em;
    padding-left: 1em;
    color: white;
}

main {
    margin: 0 auto;
    width:90%;
}

content{
    display: flex;
    flex-wrap: wrap;
    
}

button.btnReload {
    grid-area: button;
    padding: 12px 12px 12px 12px;
    background: #e9e9e9 url(images/reload_24px.png) 10px 10px no-repeat;
    border-radius: 24px;
    border: 1px solid #d9d9d9;
    
    width: 2.9em;
    height: 2.9em;
}

button.btnReload:hover {

    animation-name: A_rotate;
    animation-duration: 500ms;
    transform: scale(1.15);
   ;  
}


@keyframes A_rotate {
    from {transform: rotate(0deg) scale(1);
        }

    to {transform: rotate(360deg) scale(1.15);
        }
  }


div.cityDiv {
    width: 30em;
    padding: 1em;
    border-radius: 1em;
    display: grid;
    border: .2em black solid;
    box-shadow: black 2px 2px;
    grid-template-areas: "button header header header updatetime"
                         "perish perish perish perish perish";
                         /* grid-template-columns: repeat(9, 1fr); */
    /* grid-auto-rows: minmax(100px, auto); */

    background-color: darkslategray;
    margin: 1em;

}


div.cityDiv div.headerDiv {
    grid-area: header;
    color:white;
    font-size: 4em;
    display:block;

}


div.cityDiv div.updatedDiv {
    grid-area: updatetime;
    font-size: .7em;
    text-align: right;
    height: max-content;
}

div.cityDiv div.perishDiv {
    grid-area: perish;
    background-color: rgba(216, 216, 216, 0.35);
    color:white;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
    
}

div.tempDiv {
    font-size: 7em;
    padding: 0 .5em;
}

div.iconDiv{
    display: flex;
    flex-direction: column;
}

img.pIcon {
    max-width: 4em;
    height: 4em;
}

div.pDesc {
    flex-grow: 3
}

